{{!-- <p>
	{{BURGER_NAME}}
	{{#if devoured}}
	<button class="devour" data-id="{{ID}}" data-newdevour="{{devoured}}">
		DEVOUR!
	</button>
	{{/if}}
</p> --}}



{{!-- need to create delete route and then replace with this code --}}
<p class="shadow">
	{{BURGER_NAME}}

	<button class="devour btn btn-outline-warning" data-id="{{ID}}" data-newdevour="{{devoured}}">
		{{#if devoured}}DEVOUR!{{else}}DIGEST{{/if}}
	</button>
</p>